body {
  font-size: 12px;
}

#go, #close {
  cursor: pointer;
  width: 200px;
  /* height: 50px; */
  border: 2px solid rgb(68, 196, 250);
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
  background: rgb(217, 250, 188);
  margin: 10px auto;
}

#modal {
  background: #97dafc;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  /* transition: .5s; */
}

#modal p {
  margin: 0 0 20px;
  /* margin-bottom: 20px; */
}

#grayback {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
}

#grayback.hidden {
  display: none;
}

#modal.hidden {
  transform: translateY(-500px);
}
